/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.leftBox {
  background-color: dodgerblue;
  color: white;
  font-family: "Lucida Grande";
  margin: 1%;
}

.leftBox > div {
  height: 50px;
  border-style: solid;
  border-width: .25px;
  border-color: navy;
}

.leftBox > div:hover{
  border-width: 3px;

}
.rightBox {
  background-color: dodgerblue;
  color: white;
  font-family: "Lucida Grande";
  margin: 1%;
  height: 300px;
}

.rightBox > h3, h4 {
  text-align: center;
}